.home-page {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0;
    height: 100vh;
  }
  
  h2 {
    font-size: 30px;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  .no-student {
    font-size: 16px;
    color: red;
  }
  